@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-info">Welcome to the Home page!</h1>
<form method="post">
    <input type="text" name="name"/>
    <button type="submit">Add</button>
</form>